

header {
    display: block;
    background-color: linear-gradient(blue, grey);
    text-align: center;
};



.card {
    background-color: maroon;
    color: white;
    margin: 1rem;
    padding: 1rem;
    min-height: 300px;
    
};

body {
    color: purple;
    background-color: lightblue;
};
